.footer{
	display: flex;
	margin: 0 auto;
}
.bar1{
	display: inline-block;
	width: 30%;
	height: 160px;
	background-color: #1C1C1C;
	color:  white;
}
.bar1 h2{
	text-align: center;
	 cursor: default;
}
.bar1 ul{
	list-style-type: none;
}
.bar1 li{
	line-height: 45px;
	cursor: default;
}

.bar-diviser{
	width: 0.3%;
	height: 160px;
	display: inline-block;
	background-color: #363636;

}
.bar2{
	display: inline-block;
	width: 69.8%;
	height: 160px;
	background-color: #1C1C1C;
}

.bar2 img{
	cursor: pointer;
	padding: 25px 100px 0px 50px;
}

.wp{
	transition-duration: 0.6s;
}
.wp:hover{
	filter: invert(100%);
}

.inst{
	transition-duration: 0.6s;

}

.inst:hover{
	filter: invert(100%);

}

.fc{
	transition-duration: 0.6s;
}

.fc:hover{
	filter: invert(100%);
}


.wt{
	display: inline-block;
	padding-right: 130px;
	padding-left: 30px;
	cursor: pointer;
}

.it{
	display: inline-block;
	padding-right: 120px;
	cursor: pointer;
}
.ft{
	display: inline-block;
	cursor: pointer;
}