.header{
	height: 100px;
	display: flex;
	border-radius: 5px;
}

/* ########## Logo ######### */
.contato{
	background-color: blue;
	height: 70px;
}
.logo{
	display: inline-block;
}

.logo .logo_img{

	width: 330px;
	height: 100px;
	padding: 0px 150px 10px 110px;
}


/* ########## Botoes header ######### */

.botoes-header li{
	font-size: 23px;
	display: inline-block;
	padding-top: 25px;
	padding-right: 30px;
}

.botoes-header a{
	text-decoration: none;
	color: cyan;
	border-radius: 0px;
	transition-duration: 0.5s;
	border-style: solid;
	border-color: white;
	padding: 5px 12px 5px 12px;
}
.botoes-header a:hover{
	background-color: blue;
	border-style: solid;
	border-radius: 20px;
	padding: 5px 12px 5px 12px;
}

/* ########## Divisoria do header com o slide ######## */

.divisa-menu-slide{
	height: 2px;
	background-color: grey;
}


