.ordem{
	cursor: default;
	display: flex;
}

/*############# IMG lado esquerdo ############*/

.content-img-info{
	display: inline-block;
	height: 400px;
	width: 430px;
	background-color: white;
}
.content-img-info .image{
	background-image: url(../img/relogio.jpg);
	filter: blur(1px);
	border-radius: 20px;
	width: 275px;
	height: 275px;
	position: relative;
	left: 17%;
	top: 17%;
}

.content-img-info .texto-img{
	display: inline-block;
	font-size: 40px;
	transform: translate(130px, -125px);
}
.content-img-info .texto-img p{
	font-family: 'Permanent Marker', cursive;
	color: black;
	margin: 0px;
	text-align: center;
	transition-duration: 1s;
}

.content-img-info .texto-img .tx1{
	position: relative;
	font-size: 35px;
}

.content-img-info .texto-img .tx2{
	position: relative;
	top: -100px;
}
.content-img-info .texto-img .tx3{
	position: relative;
	top: -150px;
}

/*############# Texto principal############*/

.texto .texto-principal{
	padding-top: 10px;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
}

/*Bar*/
.bar{
	background-color: grey;
	width: 2px;
	height: 400px;
}
/*############# content lado direito ############*/

.content-texto-info img{
	position: relative;
	padding-top: 40px;
	left: 50%;
}

.content-texto-info .text{
	font-family: 'Comfortaa', cursive;
	position: relative;
	left: 60px;
	width: 300px ;
	height: 70px ;
	text-align: center;
}

.content-texto-info a{
	font-size: 20px;
	display: inline-block;
	position: relative;
	left: 170px;
	top: 10px;
	text-decoration: none;
	color: black;
	background-color: red;
	padding: 5px;
	border-radius: 20px;
	transition-duration: 0.3s;

}

.content-texto-info:hover a{
	padding: 7px;
	background-color: blue;
	color: white;
}


/*########### Info #########*/

.info{
	display: inline-block;
	width: 500px;
	height: 300px;
	background-color: white;
	cursor: default;
}

.info .barra{
	position: relative;
	left: 20%;
	top: 10px;
	width: 300px;
	height: 5px;
	border-style: solid;
	border-color: #4682B4;
	border-width: 1px;
}

#barra{
	background-color: #87CEEB;
	height: 5px;
}

.info .texto{
	width: 400px;
	height: 160px;
	text-align: center;
	position: relative;
	left: 10%;
}

.info img{
	position: relative;
	top: 20px;
	left: 35%;

}

/* ############## Slide ############# */
.Slide{
	background-color: blue;
	height: 340px;
	margin: 0 auto;
	transition-duration: 1s;
}

