.menu{
	background-image: url(../img/fundoLogonew.jpg);
	height: 200px;
}
.logo{
	display: inline-block;
	transform: translateX(360px);
}
.logo .logo_img{
	display: inline-block;
	width: 200px;
	height: 195px;
}

.linha-divisor-botao{
	background-color: white;
	height: 4px;
}
.barra{
	display: inline-block;
	width: 350px;
	height: 30px;
	background-color: white;
	float: right;

}

.trian{
	width: 30px;
	height: 30px;
	float: right;
	transform: rotateZ(180deg);
}

	/*Botoes*/
.barra li{
	display: inline-block;
}
.barra a{
	padding: 0px 14px ;
	font-size: 25px;
	color: #388FD6;

}
.barra a:hover{
	color: orange;
	text-decoration: none;
}
.barra ul{
	transform: translateY(-15px);
}

.divisa-menu-slide{
	margin: 0 auto;
	width: 960px;
	height: 12px;
	background-color: #191970;
}
