/* ############ Topicos ######### */
nav{

}
.temas{
	border-width: 3px;
	border-style: solid;
	border-color: #174A54;
	border-radius: 10px;
	display: inline-block;
	width: 180px;
	height: 230px;
	background-color: #B0C4DE;
	margin-right: 50px;
	margin-left: 60px;
	margin-top: 90px;
	margin-bottom: 50px;
	transition-duration: 1s;
}
.temas:hover{
	border-radius: 25px;
	cursor: pointer;
}


 .imagem{
	padding: 15px;
}
 .imagem img{
 	width: 130px;
 	height: 130px;
 	border-style: double;
 	border-width: 7px;
 	border-color: #174A54;
 	padding: 5px;
 	transition-duration: 0.5s;
 	filter: brightness(30%) blur(1px);


}

.temas:hover img {
	border-color: #008B8B;
	filter: brightness(100%);
	margin: -5px;
	border-radius: 50px;
	width: 140px ;
	height: 140px ;
}
.titulo{
	text-align: center;
	font-family: arial;
	font-size: 20px;
	color: black;

	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}

.temas:hover .titulo{
	text-shadow: 0.1em 0.1em 0.05em black;
	color: #008B8B;
	top: -15px;
	border-radius: 10px;
}